# Ignore Python virtual environment
env/

# Ignore Django migration files
backend/migrations/

# Ignore database file
db.sqlite3

# Ignore node_modules directory
frontend/node_modules/

# Ignore build output
frontend/.next/

# Ignore logs
*.log

# Ignore compiled Python files
*.pyc

# Ignore environment configuration files
.env
.env.local
.env.*.local
.env.test
.env.production

# Ignore macOS system files
.DS_Store
